@model IEnumerable<RSTracker.Models.Requisition>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h4>Dash Board</h4></li>
</ol>


<table class="table table-hover table-striped" id="dataTable">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RefNo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation.Name)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Division.Name)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.RequiredByEmp.Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RaisedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.SubUnit.Name)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.RequisitionDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.VacancyTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastWorkingDay)
                </th>*@
            <th>Circular</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Division.Name)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.RequiredByEmp.Name)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.SubUnit.Name)
                </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.VacancyTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWorkingDay)
                </td>*@
            <td>
                @Html.ActionLink("View", "Index", "Circulars", new { requisitionId = item.Id }, null)
            </td>
            <td>
             
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
              
            </td>
        </tr>
    }

</table>
