@model RSTracker.Models.Circular
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h4>Details Circular</h4></li>
</ol>

<div>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Requisition.RefNo)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayNameFor(model => model.Requisition.RefNo)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.CircularDate)
        </dt>

        <dd class="col-md-3">
          @Html.DisplayNameFor(model => model.CircularDate)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.NoOfCvFromAD)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.NoOfCvFromAD)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.NoOfCvFromOnline)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.NoOfCvFromOnline)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.NoOfCvFromHardcopy)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.NoOfCvFromHardcopy)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.NoOfCvFromRef)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.NoOfCvFromRef)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.CvSendtoLM)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.CvSendtoLM)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.SortedCvFromLM)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.SortedCvFromLM)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.FinalSelectedCandidate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.FinalSelectedCandidate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.WrittentestDate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.WrittentestDate)
        </dd>
    </dl>
    <dl class="row">
    
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.WrittenTestPassedCandidate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.WrittenTestPassedCandidate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.VivaDate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.VivaDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.VivaCandidate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.VivaCandidate)
        </dd>
    </dl>



    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.FinalVivaCandidate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.FinalVivaCandidate)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.ReferenceCheck)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.ReferenceCheck)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.FinalMeetingWithCEO)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.FinalMeetingWithCEO)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.SelectedCandidateDetails)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.SelectedCandidateDetails)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.ALIssueDate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.ALIssueDate)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.DateOfJoining)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.DateOfJoining)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.ProcessLength)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.ProcessLength)
        </dd>
    </dl>

</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-large" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
</p>
