@model RSTracker.Models.Requisition

<ol class="breadcrumb">
    <li class="breadcrumb-item active"><h4>Details Requisition</h4></li>
</ol>

<div>
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.RefNo)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.RefNo)
        </dd>

    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.DivisionId)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Division.Name)
        </dd>

    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Dept.Name)
        </dd>

    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.SubUnitId)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.SubUnit.Name)
        </dd>

    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Designation.Name)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Designation.Name)
        </dd>

    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.RaisedBy)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.RequisitionDate)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.RequiredBy)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.RequiredByEmp.Name)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.VacancyTypeId)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.VacancyTypeName)
        </dd>
    </dl>


    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.LastWorkingDay)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.LastWorkingDay)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd class="col-md-3">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
    </dl>


</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-large" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
</p>

